# ðŸ§ª Basic SQL Notebook

Welcome to this interactive notebook for learning SQL!

In [1]:
# Load the ipython-sql extension
%load_ext sql

# Connect to an in-memory SQLite database
%sql sqlite://

In [1]:
%%sql
-- Create a students table
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
);

In [1]:
%%sql
-- Insert some test data
INSERT INTO students (id, name, age) VALUES
(1, 'Ana', 22),
(2, 'Ben', 24),
(3, 'Carlos', 21);

In [1]:
%%sql
-- Show all students
SELECT * FROM students;

### âœ… Challenge
Modify the query below to return only students over the age of 21.

In [1]:
%%sql
-- Your code here
SELECT * FROM students WHERE age > 21;